# --- CONFIGURATION RÉSEAU & DOMAINE ---
MY_DOMAIN=cloud-labb.duckdns.org
MY_EMAIL=dusly30@gmail.com
DUCKDNS_TOKEN=bd480c3c-65cf-4417-99b7-48f086374861

# --- CONFIGURATION NEXTCLOUD ---
NC_DB_PASSWORD=123
NC_DB_USER=nextcloud_user
NC_DB_NAME=nextcloud_db

# --- CONFIGURATION PLEX ---
PLEX_CLAIM= 