# --- CONFIGURATION RÉSEAU & DOMAINE ---
MY_DOMAIN=domaine.duckdns.org
MY_EMAIL=courriel@exemple.com
DUCKDNS_TOKEN=token-duckdns

# --- CONFIGURATION NEXTCLOUD ---
NC_DB_PASSWORD=mot-de-passe-bd
NC_DB_USER=nextcloud_user
NC_DB_NAME=nextcloud_db

# --- CONFIGURATION PLEX ---
PLEX_CLAIM=plex-claim-token